*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgba(142, 193, 238, 0.717);
}
.t{
    font: 5em sans-serif;
    font-weight: 700;
}

.btn{
    background-color: rgb(66, 71, 94);
    padding: 10px 30px;
    margin: 20px auto;
    border-radius: 10px;
    font-weight: 2.5rem;
    font-size: 1rem;
    color: white;
}