/*color, background-color */
*{
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;}
.main{
    height: auto;
    background-image:linear-gradient(rgba(10, 84, 10, 0.58), rgba(102, 16, 102, 0.571)), url('./logo\ PMS.png');
    background-size: cover;
    padding: 80px 80px;
    color: white;
}

.main__circle{
    width: 100px;
    height: 100px;
    background-image: url('./logo\ PMS.png');
    background-size: cover;
    background-position: center;
    border-radius: 50px;
    margin: auto;
}
.main__title{
    background-color: #00800012;
    letter-spacing: 2px; /*permite definir la separación entre palabras*/
    word-spacing: 5px;
    overflow-wrap: break-word; /*rompe las palabras para evitar que se desborden*/
    /* text-transform: lowercase; */ /*ponerlas todas en minúsculas*/
    /* text-transform: uppercase; */ /*permite transformar el texto (todas a mayúsculas)*/
    text-transform: capitalize; /*hace que cada palabra comience en mayúscula*/
    text-align: center; /*permite centrar el texto, también se le pueden dar los valores start para alinearlo a la izquierda o end para alinearlo a la derecha*/
    /* text-align: start; */
    /* text-align: end; */
    font-size: 30px; /*para controlar el tamaño del texto*/
    font-weight: 900;
}

.main__paragraph{
    background-color: rgba(128, 0, 128, 0.263);
    /* text-align: justify; */
    text-align: left;
    line-height: 1; /*determina el alto de la línea (aquí acepta unidades enteras o píxeles, si multiplicamos las unidades enteras por el font size obtenemos el valor en píxeles)*/
    font-size: 18px;
    text-shadow: rgb(36, 1, 36); 
    margin: 20px 0;
}


.main__paragraph--second{
    font-weight: 400;
    font-style: italic;
}
.main__cta{
    display: inline-block;
    background-color: orange;
    color: white;
    text-decoration: none; /*se puede usar para quitar el subrayado de los enlaces*/
    padding: 20px 60px;
    border-radius: 10px; /* permite redondear el borde de contenedores 50px es el mayor valor */
}

.title{
    /*palabra clave, */
    color: rgb(255, 255, 255);
    /* rgb admite valores en cada posición entre 0-255 */
    color: rgb(red, #008000, blue);
    background-color: #3d0a677a;
}

.logo-img{
    background-image: url('./logo\ PMS.png') ;
    height: 300px;
    width: 300px;
    background-size: 200px 200px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.background-svg{
    margin: 20px;
    padding: 20px;
    background-image: url('./css.svg');
    background-color: magenta;
    height: 100px;
}

.gradient-background{
    background-image: linear-gradient(purple, white);
}

.gradient-image{
    width: 300px;
    height: 300px;
    background-size: cover;
    background-image:linear-gradient(rgba(0, 128, 0, 0.58), rgba(255, 0, 255, 0.571)), url('./logo\ PMS.png');

}