:root {
    /*COLORS*/
    --black-100: rgba(231, 231, 231, 1);
    --black-200: rgba(209, 209, 209, 1);
    --black-300: rgba(176, 176, 176, 1);
    --black-400: rgba(136, 136, 136, 1);
    --black-50: #f6f6f6;
    --black-50-back: rgba(246, 246, 246, 0.2);
    --black-500: rgba(109, 109, 109, 1);
    --black-600: rgba(93, 93, 93, 1);
    --black-700: rgba(79, 79, 79, 1);
    --black-800: rgba(69, 69, 69, 1);
    --black-900: rgba(61, 61, 61, 1);
    --black-950: rgba(0, 0, 0, 1);
    --blue-ribbon100: rgba(218, 234, 255, 1);
    --blue-ribbon200: rgba(189, 218, 255, 1);
    --blue-ribbon300: rgba(144, 196, 255, 1);
    --blue-ribbon400: rgba(92, 163, 254, 1);
    --blue-ribbon50: rgba(239, 246, 255, 1);
    --blue-ribbon500: rgba(54, 126, 251, 1);
    --blue-ribbon600: rgba(41, 101, 241, 1);
    --blue-ribbon700: rgba(24, 73, 221, 1);
    --blue-ribbon800: rgba(26, 60, 179, 1);
    --blue-ribbon900: rgba(27, 56, 141, 1);
    --blue-ribbon950: rgba(21, 35, 86, 1);
    --cerulean-blue100: rgba(220, 230, 253, 1);
    --cerulean-blue200: rgba(193, 213, 252, 1);
    --cerulean-blue300: rgba(150, 186, 250, 1);
    --cerulean-blue400: rgba(101, 150, 245, 1);
    --cerulean-blue50: rgba(240, 244, 254, 1);
    --cerulean-blue500: rgba(65, 112, 240, 1);
    --cerulean-blue600: rgba(38, 77, 228, 1);
    --cerulean-blue700: rgba(35, 62, 210, 1);
    --cerulean-blue800: rgba(35, 51, 170, 1);
    --cerulean-blue900: rgba(33, 49, 135, 1);
    --cerulean-blue950: rgba(25, 32, 82, 1);
    --default-background: rgba(255, 255, 255, 1);
    --orange-100: rgba(253, 233, 215, 1);
    --orange-200: rgba(250, 207, 174, 1);
    --orange-300: rgba(247, 172, 122, 1);
    --orange-400: rgba(243, 128, 68, 1);
    --orange-50: rgba(254, 245, 238, 1);
    --orange-500: rgba(240, 101, 41, 1);
    --orange-600: rgb(225, 69, 21);
    --orange-700: rgba(186, 50, 20, 1);
    --orange-800: rgba(148, 42, 24, 1);
    --orange-900: rgba(119, 37, 23, 1);
    --orange-950: rgba(64, 15, 10, 1);
    --pomegranate-100: rgba(251, 229, 217, 1);
    --pomegranate-200: rgba(246, 200, 178, 1);
    --pomegranate-300: rgba(240, 163, 129, 1);
    --pomegranate-400: rgba(233, 116, 78, 1);
    --pomegranate-50: rgba(253, 244, 239, 1);
    --pomegranate-500: rgba(227, 76, 38, 1);
    --pomegranate-600: rgba(213, 57, 33, 1);
    --pomegranate-700: rgba(177, 41, 29, 1);
    --pomegranate-800: rgba(141, 35, 31, 1);
    --pomegranate-900: rgba(114, 32, 28, 1);
    --pomegranate-950: rgba(61, 13, 13, 1);
    --colors-forest-green-100: rgba(225, 248, 224, 1);
    --colors-forest-green-200: rgba(196, 240, 194, 1);
    --colors-forest-green-300: rgba(150, 226, 147, 1);
    --colors-forest-green-400: rgba(94, 204, 92, 1);
    --colors-forest-green-50: rgba(242, 251, 242, 1);
    --colors-forest-green-500: rgba(57, 177, 54, 1);
    --colors-forest-green-600: rgba(41, 146, 39, 1);
    --colors-forest-green-700: rgba(35, 115, 34, 1);
    --colors-forest-green-800: rgba(33, 91, 32, 1);
    --colors-forest-green-900: rgba(28, 75, 29, 1);
    --colors-forest-green-950: rgba(10, 41, 11, 1);
    --text-white: #fffefe;


    /*Fonts*/
    --h-1-font-family: "Archivo-Bold", Helvetica;
    --h-1-font-size: 61px;
    --h-1-font-style: normal;
    --h-1-font-weight: 700;
    --h-1-letter-spacing: 0px;
    --h-1-line-height: 120.00000476837158%;
    --h-2-font-family: "Archivo-Regular", Helvetica;
    --h-2-font-size: 49px;
    --h-2-font-style: normal;
    --h-2-font-weight: 400;
    --h-2-letter-spacing: 0px;
    --h-2-line-height: 120.00000476837158%;
    --h-3-font-family: "Archivo-Regular", Helvetica;
    --h-3-font-size: 39px;
    --h-3-font-style: normal;
    --h-3-font-weight: 400;
    --h-3-letter-spacing: 0px;
    --h-3-line-height: 120.00000476837158%;
    --h-7-font-family: "Archivo-Regular", Helvetica;
    --h-7-font-size: 16px;
    --h-7-font-style: normal;
    --h-7-font-weight: 400;
    --h-7-letter-spacing: 0px;
    --h-7-line-height: 120.00000476837158%;
    --h-8-font-family: "Archivo-Regular", Helvetica;
    --h-8-font-size: 13px;
    --h-8-font-style: normal;
    --h-8-font-weight: 400;
    --h-8-letter-spacing: 0px;
    --h-8-line-height: 120.00000476837158%;
    --h-9-font-family: "Archivo-Regular", Helvetica;
    --h-9-font-size: 10px;
    --h-9-font-style: normal;
    --h-9-font-weight: 400;
    --h-9-letter-spacing: 0px;
    --h-9-line-height: 120.00000476837158%;
    --h4-bold-font-family: "Archivo-Bold", Helvetica;
    --h4-bold-font-size: 31px;
    --h4-bold-font-style: normal;
    --h4-bold-font-weight: 700;
    --h4-bold-letter-spacing: 0px;
    --h4-bold-line-height: 120.00000476837158%;
    --h4-reg-font-family: "Archivo-Regular", Helvetica;
    --h4-reg-font-size: 31px;
    --h4-reg-font-style: normal;
    --h4-reg-font-weight: 400;
    --h4-reg-letter-spacing: 0px;
    --h4-reg-line-height: 120.00000476837158%;
    --h5-bold-font-family: "Archivo-Bold", Helvetica;
    --h5-bold-font-size: 25px;
    --h5-bold-font-style: normal;
    --h5-bold-font-weight: 700;
    --h5-bold-letter-spacing: 0px;
    --h5-bold-line-height: 120.00000476837158%;
    --h5-reg-font-family: "Archivo-Regular", Helvetica;
    --h5-reg-font-size: 25px;
    --h5-reg-font-style: normal;
    --h5-reg-font-weight: 400;
    --h5-reg-letter-spacing: 0px;
    --h5-reg-line-height: 120.00000476837158%;
    --h6-bold-font-family: "Archivo-Bold", Helvetica;
    --h6-bold-font-size: 20px;
    --h6-bold-font-style: normal;
    --h6-bold-font-weight: 700;
    --h6-bold-letter-spacing: 0px;
    --h6-bold-line-height: 120.00000476837158%;
    --h6-reg-font-family: "Archivo-Regular", Helvetica;
    --h6-reg-font-size: 20px;
    --h6-reg-font-style: normal;
    --h6-reg-font-weight: 400;
    --h6-reg-letter-spacing: 0px;
    --h6-reg-line-height: 120.00000476837158%;
    --h7-medium-font-family: "Archivo-Medium", Helvetica;
    --h7-medium-font-size: 16px;
    --h7-medium-font-style: normal;
    --h7-medium-font-weight: 500;
    --h7-medium-letter-spacing: 0px;
    --h7-medium-line-height: 120.00000476837158%;
    --h8-itálica-font-family: "Archivo-Italic", Helvetica;
    --h8-itálica-font-size: 13px;
    --h8-itálica-font-style: italic;
    --h8-itálica-font-weight: 400;
    --h8-itálica-letter-spacing: 0px;
    --h8-itálica-line-height: 120.00000476837158%;
    --h9-light-font-family: "Archivo-Light", Helvetica;
    --h9-light-font-size: 10px;
    --h9-light-font-style: normal;
    --h9-light-font-weight: 300;
    --h9-light-letter-spacing: 0px;
    --h9-light-line-height: 120.00000476837158%;


    /* pesos */
    --h-font-weight-Light: 300;
    --h-font-weight-Regular: 400;
    --h-font-weight-RegularItalic: 400;
    --h-font-weight-Medium: 500;
    --h-font-weight-Bold: 700;

    --shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1), 0px 1px 2px -1px rgba(0, 0, 0, 0.1);
    --shadow-2xl: 0px 25px 50px -12px rgba(0, 0, 0, 0.25);
    --shadow-lg: 0px 10px 15px -3px rgba(0, 0, 0, 0.1), 0px 4px 6px -4px rgba(0, 0, 0, 0.1);
    --shadow-md: 0px 4px 6px -1px rgba(0, 0, 0, 0.1), 0px 2px 4px -2px rgba(0, 0, 0, 0.1);
    --shadow-sm: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
    --shadow-xl: 0px 20px 25px -5px rgba(0, 0, 0, 0.1), 0px 8px 10px -6px rgba(0, 0, 0, 0.1);
}

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: 'Archivo', sans-serif;
    align-items: center;
    background-color: #fdfdfd;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
    position: relative;
    box-sizing: content-box;
}

/* HEADER */
.header {
    align-items: center;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow: hidden;
    padding: 10px 5px;
    position: relative;
}

.header-logo {
    align-items: center;
    align-self: stretch;
    background-color: var(--pomegranate-800);
    border-radius: 15px;
    display: flex;
    flex: 0 0 auto;
    justify-content: center;
    position: relative;
    width: 100%;
}

.header-logo-text {
    color: #fffefe;
    font-family: var(--h6-reg-font-family);
    font-size: var(--h6-reg-font-size);
    font-style: var(--h6-reg-font-style);
    font-weight: var(--h6-reg-font-weight);
    letter-spacing: var(--h6-reg-letter-spacing);
    line-height: var(--h6-reg-line-height);
    position: relative;
    text-align: center;
    white-space: nowrap;
    width: fit-content;
}

.header-logo-logo {
    height: 35px;
    margin-left: -5px;
    object-fit: cover;
    position: relative;
    width: 35px;
}

.header-text {
    align-self: stretch;
    color: #000000;
    font-family: var(--h-7-font-family);
    font-size: var(--h-7-font-size);
    font-style: var(--h-7-font-style);
    font-weight: var(--h-7-font-weight);
    letter-spacing: var(--h-7-letter-spacing);
    line-height: var(--h-7-line-height);
    position: relative;
}


/* FRAME BODY */
.frame-body {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
    width: 100%;
}

/* SECTION1 */
/* ////// */
.section {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 10px;
    padding: 10px 5px;
    position: relative;
    width: 100%;
}

.section-title {
    align-items: center;
    align-self: stretch;
    background: linear-gradient(180deg, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0) 100%);
    display: flex;
    height: 24px;
    justify-content: center;
    padding: 0px 3px;
    position: relative;
    width: 100%;
}

.rectangle {
    background-color: #3D0D0D40;
    border-radius: 40px;
    flex: 1;
    flex-grow: 1;
    height: 12px;
    position: relative;
}

.section-title-text {
    color: #000000;
    font-family: var(--h6-reg-font-family);
    font-size: var(--h6-reg-font-size);
    font-style: var(--h6-reg-font-style);
    font-weight: var(--h6-reg-font-weight);
    letter-spacing: var(--h6-reg-letter-spacing);
    line-height: var(--h6-reg-line-height);
    margin-top: -1px;
    position: relative;
    text-align: center;
    white-space: nowrap;
    width: fit-content;
}

.text {
    align-self: stretch;
    color: transparent;
    font-family: "Archivo-Regular", Helvetica;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 19.2px;
    position: relative;
}

.text-wrapper {
    color: #000000;
    font-family: var(--h-7-font-family);
    font-size: var(--h-7-font-size);
    font-style: var(--h-7-font-style);
    font-weight: var(--h-7-font-weight);
    letter-spacing: var(--h-7-letter-spacing);
    line-height: var(--h-7-line-height);
}

.span {
    color: #000000;
    font-family: var(--h-8-font-family);
    font-size: var(--h-8-font-size);
    font-style: var(--h-8-font-style);
    font-weight: var(--h-8-font-weight);
    letter-spacing: var(--h-8-letter-spacing);
    line-height: var(--h-8-line-height);
}

.text-wrapper-2 {
    color: #72201c;
    font-family: var(--h-7-font-family);
    font-size: var(--h-7-font-size);
    font-style: var(--h-7-font-style);
    font-weight: var(--h-7-font-weight);
    letter-spacing: var(--h-7-letter-spacing);
    line-height: var(--h-7-line-height);
}

.text-wrapper-3 {
    text-decoration: none;
    color: #d53921;
    font-family: var(--h-8-font-family);
    font-size: var(--h-8-font-size);
    font-style: var(--h-8-font-style);
    font-weight: var(--h-8-font-weight);
    letter-spacing: var(--h-8-letter-spacing);
    line-height: var(--h-8-line-height);
}

.text-wrapper-4 {
    color: #d53921;
    font-family: var(--h-7-font-family);
    font-size: var(--h-7-font-size);
    font-style: var(--h-7-font-style);
    font-weight: var(--h-7-font-weight);
    letter-spacing: var(--h-7-letter-spacing);
    line-height: var(--h-7-line-height);
}

.text-wrapper-5 {
    color: #1f1f1f;
    font-family: var(--h-7-font-family);
    font-size: var(--h-7-font-size);
    font-style: var(--h-7-font-style);
    font-weight: var(--h-7-font-weight);
    letter-spacing: var(--h-7-letter-spacing);
    line-height: var(--h-7-line-height);
}

.text-wrapper-6 {
    color: #1f1f1f;
    font-family: var(--h-8-font-family);
    font-size: var(--h-8-font-size);
    font-style: var(--h-8-font-style);
    font-weight: var(--h-8-font-weight);
    letter-spacing: var(--h-8-letter-spacing);
    line-height: var(--h-8-line-height);
}

.text-wrapper-7 {
    color: #299227;
    font-family: var(--h-8-font-family);
    font-size: var(--h-8-font-size);
    font-style: var(--h-8-font-style);
    font-weight: var(--h-8-font-weight);
    letter-spacing: var(--h-8-letter-spacing);
    line-height: var(--h-8-line-height);
}

.text-wrapper-8 {
    color: #299227;
    font-family: var(--h-7-font-family);
    font-size: var(--h-7-font-size);
    font-style: var(--h-7-font-style);
    font-weight: var(--h-7-font-weight);
    letter-spacing: var(--h-7-letter-spacing);
    line-height: var(--h-7-line-height);
}